.page {
  padding-top: 10px;
};

.products__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__filters {
  display: flex;
}

.actions__item {
  display: flex;
  align-items: center;
}

.actions__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
