.header {
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 20px);
  border-bottom: 1px solid #f1f1f1;
  background-color: #fad3fc;
  z-index: 5;
}

.container {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
