@import 'src/app/scss/components/_card.scss';

.nav-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 10px;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app {
  color: red;
}
